/* import start */
@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* import end */
nav{
    max-width: 1440px;
    margin: 10px 0px;
    
}
.nav{
    display: flex;
    gap: 186px;
    align-items: center;
    max-width: 1160px;
    height: 62px;
   
    margin-left: 140px;
    
}

.nav1{
    display:flex ;
    width: 202px;
    height: 62px;
    gap: 11px;
    align-items: center;
}
.nav1-title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
    color: black;
}
.nav2-ul{
    display: flex;
    list-style: none;
   gap: 32px;
   align-items: center;
}
.ul-1{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: orange;
}
.ul-2{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: skyblue;
}
.ul-3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(5, 212, 223, 1);
}
.ul-4{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(93, 88, 239, 1);
}

.nav-btn{
  background-color: orange;
  padding: 10px 10px;
  color:white;
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.menu{
    border: none;
   
    color: black;
    font-size: 2rem;
    background-color: #FFFF;
    display: none;
}
marquee{
    font-weight: 700;
    font-size: 30px;
    padding: 20px 0px;
    color:skyblue ;
    background-color:#FFF4DC ;
}
.hrline{
   display: none;
}
/* nav end */
/* banner start */
.banner{
    max-width: 1158px;
    /* height: 575px; */
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    /* margin: 50px auto; */
    margin: 0px auto;
   
    /* align-items: center; */
    
}
.banner_txt{
    max-width: 640px;
    width: 100%;
    height: 331px;
   margin-top: 122px;
   margin-bottom: 122px;
    
    /* align-items: center; */
}
.banner-heading{
    line-height: 61px;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 24px;
}
.bn-span1{
    color: orange;
}
.bn-span2{
    color: skyblue;
}
.banner-title{
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-bottom: 24px;
}
.banner_btn{
    background-color: black;
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
   
    border: none;
   
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
}
.bn_img{
    /* height: 575clearpx; */
     width: 100%; 
}
/* banner end */
/* main start */
.section1{
    max-width: 1440px;
    height: 879px;
    background-image: url(../assets/bg.png);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 0px auto;
    
}

.section1-heading{
    margin-top: 60px;
    margin-bottom: 80px;
    line-height: 57px;
    font-weight: 700;
    font-size: 46px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
.Curriculum{
    display: flex;
    gap: 28px;
    max-width: 1160px;
    padding-left: 140px;
    padding-right: 140px;
    /* align-items: center; */
    text-align: center;
}
.curri_head{
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    color: rgba(32, 32, 32, 1);
}
.curri-title{
    line-height: 28px;
    font-weight: 500;
    font-size: 15px;
    color: rgba(128, 128, 128, 1);
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.curri-1{
    padding-top: 50px;
     height: 476px;
   /* width: 476px; */
    background-image: linear-gradient(200deg, #DEF5FF, white);
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.curri-2{
    padding-top: 50px;
    height: 476px;
    background-image: linear-gradient(200deg, #FFF4DC, white);
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.curri-3{
    padding-top: 50px;
    height: 476px;
    background-image: linear-gradient(200deg,#F2E8FF, white);
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.curri-des-1{
    line-height: 28px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 33px;
    color: #64C8FF;
}
.curri-des-2{
    line-height: 28px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 33px;
    color: #F0AA00;
}
.curri-des-3{
    line-height: 28px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 33px;
    color: #8700FF;
}
.button{
    width: 130px;
    height: 60px;
    margin: 80px auto;
}
.section1-btn1{
    width: 60px;
    
    height: 60px;
    border: none;
    line-height: 24px;
    color: white;
    font-size: 24px;
    background-color: orange;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.section1-btn2{
   
    width: 60px;
    height: 60px;
    border: none;
    line-height: 24px;
    color: white;
    font-size: 24px;
    background-color: orange;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* section 1 ending */
/* section 2 start */
.section2{
    max-width:1440px;
    /* height: 1018px; */
    background-image: url(../assets/bg.png),linear-gradient(360deg, #FFF4DC,white );
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 0px auto;
}
.section2-heading{
    font-weight: 700;
    font-size: 46px;
    line-height: 57px;
    color: #000000;
    text-align: center;
}
.img-container{
    display: flex;
    gap: 24px;
   margin-left: 135px;
   margin-right: 135px;
   margin-top: 80px;
   
}
.story-img2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.story-img1{
    max-width: 540px;
    height: 630px;
    background-color:whitesmoke;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.st-img{
    max-width: 540px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    -ms-border-radius: 16px 16px 0px 0px;
    -o-border-radius: 16px 16px 0px 0px;
}
.st-title{
    padding-left: 39px;
    padding-right: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
.st-des{
    padding-left: 38px;
    padding-right: 68px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}
.ch-title{
    padding-left: 38px;
    padding-right: 37px;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
}
.story-btn{
    width: 174px;
    height: 47px;
    background-color: #3CD8E8;
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    border: none;
    border-radius: 47px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    -ms-border-radius: 47px;
    -o-border-radius: 47px;
}
.ch-btn{
    width: 174px;
    height: 38px;
    color: white;
    border: none;
    background-color: #95B226;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    border-radius: 47px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    -ms-border-radius: 47px;
    -o-border-radius: 47px;
}
.ch-btn2{
    width: 174px;
    height: 38px;
    color: white;
    border: none;
    background-color:#5D58F0;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    border-radius: 47px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    -ms-border-radius: 47px;
    -o-border-radius: 47px;
}
#one{
    position: absolute;
     margin-top: -285px;  
     margin-left: 40px; 
}
#two1{
    position: absolute;
    margin-top: -132px;  
    margin-left: 40px;
}
#two2{
    position: absolute;
    margin-top: -132px;  
    margin-left: 40px;
}
#two3{
    position: absolute;
    margin-top: -132px;  
    margin-left: 40px;
}
#two4{
    position: absolute;
    margin-top: -132px;  
    margin-left: 40px;
}
.ch-img{
    max-width: 291px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    -moz-border-radius: 16px 16px 0px 0px;
    -ms-border-radius: 16px 16px 0px 0px;
    -o-border-radius: 16px 16px 0px 0px;
}
.ch-img1{
    max-width: 290px;
    /* height: 301px; */
    background-color:whitesmoke;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.ch-img2{
    max-width: 290px;
    /* height: 301px; */
    background-color:whitesmoke;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.ch-img3{
    max-width: 290px;
    /* height: 301px; */
    background-color:whitesmoke;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.ch-img4{
    max-width: 290px;
    /* height: 301px; */
    background-color:whitesmoke;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.sec2-btn{
    margin: 80px 621px;
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
/* end of main */
/* start footer */
.footer{
    max-width: 1440px;
   
    width: 100%;
    padding-top: 123px;
    padding-bottom: 174px;
    background-color: #01ACFD;
    margin: 0px auto;
   
}
.footer-container{
    max-width: 1071px;
    
    display: flex;
 margin: 0px auto;
    justify-content: space-between;
    /* gap: 50px; */
}
.footer-title{
    max-width: 399px;
}
.foot-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    margin-right: 106px;
}
.foot-logo-img{
    width: 82px;
    height: 81px;
}

.foot-title{
    font-weight: 700;
    font-size: 42.14px;
    line-height: 39.5px;
    color: #FFFFFF;
    width: 206px;
}
.footer-container-des{
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.footer-about{
    max-width: 157px;
    margin-top: 20px;
}
ul,li{
    list-style: none;
}
.ft-ab-heading{
    font-size: 24px;
    font-weight: 700;
    color: white; 
}
.items{
    padding-left: 0px;
}
.foot-it{
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 16px 0px;
}
.footer-logo{
    margin-top: 20px;
}
.logo-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: white;
    
}
.logo-item{
   padding-left: 7px;
}

@media screen and (max-width:576px) {
    
      nav{
        /* padding-left: 0px;
        padding-right: 0px; */
        padding: 0px;

      }
    .nav1-title, .nav2-ul,.nav-btn,.story-img1{
        display: none;
    }
    .nav{
        margin: 0px;
    }
    .menu{
        display: block;
         margin-left: 220px;
    }
    .nav1 .logo{
        margin-left: 0px;
    }
    .nav{
       gap: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
    }

    .hrline{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px; 
    }
    .banner_img{
        justify-items: center;
       
    } 
    .banner_txt{
        text-align: center;
        /* margin-right:  25px; */
      margin: 0px;
    }
    .section1{
        margin-top: 300px;
    }
    
   .Curriculum{
    flex-direction: column;
    padding: 10px 10px;
    margin: 0px;
    gap: 20px;
   }
   .button{
    display: none;
   }
   .story-img2{
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    /* padding-left: 90px; */
   }
   .section2{
    margin-top: 1000px;
   }
   .img-container{
    flex-direction: column;
   margin: 0px;
   }
   
#two2{
        position: absolute;
     margin-top:-215px ;
    margin-left: 0px; 
    
   }  
    #two3{
        position: absolute;
     margin-top:-215px ;
    margin-left: 0px; 
    }
    #two1{
        position: absolute;
     margin-top:-195px ;
    margin-left: 0px; 
    }
    #two4{
        position: absolute;
     margin-top:-195px ;
    margin-left: 0px; 
    }
   .sec2-btn{
    margin: 50px 100px;
   }
   .footer-container{
    flex-direction: column;
    padding: 40px;
    text-align: start;
   }
  
}
